header, main {
  color: #614633;
}

body {
  background-color: Bisque;
  //#353535
}

div.middle-container {
  max-width: 1000px;
  margin: 0 auto;
}

header div.middle-container {
  padding-top: 50px;
}

main div.middle-container {
}

header {
  min-height: 290px;
  background-color: #bb8773;
  padding-top: 60px;
  padding-bottom: 10px;
}

.block-center {
  margin: 0 auto;
}

div.clear {
  clear: both;
}

header div.block-center {
  width: 400px;
  max-width: 80%;
}

header div.container div.name-wrapper {
  min-height: 200px;
}

div.name div {
  width: 100%;
  min-width: 220px;
  text-align: center;
  padding: 7px;
  margin-top: 15px;
  float: left;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

div.name span {
  color: #585858;
  font-size: x-large;
  font-weight: 400;
}

div.name div.top::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-right: 50px solid transparent;
    border-left: 45px solid transparent;
    z-index: 0;
    position: absolute;
    left: -45px;
    top: 0;
}

div.name div.top::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-right: 45px solid transparent;
    border-left: 50px solid transparent;
    z-index: 0;
    position: absolute;
    top: 0;
    right: -45px;
}

div.name div.bottom::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-right: 50px solid transparent;
    border-left: 45px solid transparent;
    z-index: 0;
    position: absolute;
    top: 0;
    left: -45px;
}

div.name div.bottom::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-right: 45px solid transparent;
    border-left: 50px solid transparent;
    z-index: 0;
    position: absolute;
    top: 0;
    right: -45px;
}

header img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

div.links {
  width: 250px;
  padding: 0 30px;
  border-bottom: 1px solid #614633;
}

div.links ul {
  width: 250px;
  display: inline-block;
}

div.links ul li {
  margin: 0 10px;
  //float: left;
  display: inline-block;
}

div.links ul li a {
  color: #7c5030;
}

div.contact {
  width: 85%;
  max-width: 340px;

}

div.contact ul {
  float: left;
}

div.contact li {
  margin-top: 7px;
  width: 100%;
  float: left;
}

div.contact span {
  display: block;
  padding: 0 6px;
}

div.contact span.label {
  font-size: 1.2em;
  float: left;
}

div.contact span.data {
  font-size: 1.4em;
  float: right;
}

div.contact a {
  color: #614633;
}

div.contact a.btn {
  color: Bisque;
  background-color: #614633;
  margin-top: 30px;
  width: 100%;
}


div.skill {
  height: 400px;
  width: 100%;
  float: left;
  background: white;
  box-sizing: border-box;
}

ul.skills div.title {
  font-size: 1.7em;
  font-weight: 600;
  //padding: 5px 0;
  //padding: 15px 25px;
}

ul.skills div.collapsible-body {
  background-color: #fef9ef;
}

.project-list h4 {
  text-align: right;
}

/****************** PROJECT DETAIL ******************/

div.project-detail.container {
  position: relative;
  top: -200px;
}

div.project-detail.container div.card-panel {
  max-width: 1000px;
  margin: 0 auto;
}

div.project-detail h3 {
  position: relative;
}

div.project-detail p {
  font-size: larger;
  font-weight: 400;
}

div.project-detail li {
  font-size: larger;
  font-weight: 400;
}

div.project-detail img {
  display: block;
  margin: 35px auto 0 auto;
}

div.project-detail .skills span {
  font-size: larger;

}

div.project-detail .skills ul {
  display: inline-block;
}

div.project-detail .skills li {
  display: inline-block;
}

div.floating.fixed-action-btn.horizontal.click-to-toggle {
  position: fixed;
  bottom: 45px;
  right: 24px;
}

@media screen and (min-width: 993px) {
  div.floating.fixed-action-btn.horizontal.click-to-toggle {
    position: absolute !important;
    right: -36px;
    bottom: -43px;
  }
}
