{% extends 'main/base.html' %}

{% block extra_js %}
  <script src="js/feedback_block.js"></script>
  <script src="js/load_projects.js"></script>
{% endblock %}

{% block header %}
<header>
  <div class="container">
    <div class="row">
      <div class="col s12 m4 valign-wrapper">
        <img class="circle valign" alt="User photo" src="{{ profile.avatar.url }}">
      </div>
      <div class="col s12 m7 valign-wrapper name-wrapper">
        <div class="name container valign">
          <div class="top z-depth-1">
            <span>{{ profile.full_name }}</span>
          </div>
          <div class="bottom z-depth-1">
            <span>Back-end developer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block main %}
<main>
<div class="container">
  <div class="row">
    <div class="col s12 l4">
      <div class="links">
        <ul>
        {% for link in profile.link_list.all %}
        <li>
          <a href="{{ link.url }}" target="_blank">
            <i class="fa {{ link.icon_class }} fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        {% endfor %}
        </ul>
      </div>
      <div class="contact container">
        <div class="info">
          <ul>
            <li>
              <span class="label">ТЕЛЕФОН</span>
              <span class="data">+7(903)244-77-85</span>
            </li>
            <li>
              <span class="label">ПОЧТА</span>
              <a href="mailto:2447785@gmail.com?subject=Request an assistance">
                <span class="data">2447785@gmail.com</span>
              </a>
            </li>
            <li>
              <a class="waves-effect waves-light btn open">оставить сообщение</a>
            </li>
          </ul>
        </div>
        <div class="message-block" style="display: none;">
          <form id="send_message">
            {% csrf_token %}
            <div class="input-field">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="Неправильный формат email">Email</label>
            </div>
            <div class="input-field">
              <textarea id="text" class="materialize-textarea validate"></textarea>
              <label id='text_label' for="text" data-error='Поле не может быть пустым'>Сообщение</label>
            </div>
            <a class="waves-effect waves-light btn send">Отправить</a>
          </form>
          <div class="preloader-wrapper active" style="display:none;">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="message-success" style="display: none;">
            Сообщение было отправлено
          </div>
          <a class="waves-effect waves-light btn-flat close">Закрыть</a>
        </div>
      </div>
    </div>
    <div class="col s12 l8">
      <ul class="skills collapsible" data-collapsible="accordion">
        <li>
          <div class="title collapsible-header active">НАВЫКИ</div>
          <div class="collapsible-body">
            {% comment %}
            <p>Here are my skills. You can read the descriptions by clicking headers</p>
            {% endcomment %}
            <p>
              Ниже можете прочитать описания моих навыков, нажимая на заголовки
            </p>
          </div>
        </li>
        {% for list in profile.skill_description_list.all %}
        <li>
          <div class="collapsible-header">{{ list.title }}</div>
          <div class="collapsible-body">
            {% autoescape off %}
            <div class="skill-list-content">
              {{ list.content }}
            </div>
            {% endautoescape %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="project-list">
    <h4 class="">PROJECTS</h4>

    <div class="row">
      {% for project in project_list %}
      <section class="project-card" id="{{ project.slug }}">
        <a href="{% url 'main:project-detail' project.slug %}" target="_blank">
          <div class="col s10 m6 l4 offset-s1">
            <div class="card hoverable">
              <div class="card-image">
                <img src="{{ project.picture.url }}">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>{{ project.title }}</p>
              </div>
            </div>
          </div>
        </a>
      </section>
      {% empty %}
      <span class="result">No more projects</span>
      {% endfor %}
    </div>
    <div class="loading-block">
      <span class="result" style="display: none;">No more projects</span>
      <a class="waves-effect waves-light btn">Load more</a>
      <div class="preloader-wrapper active" style="display:none;">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
